.fullbackground {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 100%;
    /* grid-template-rows: ; */
    align-self: center;
    /* grid-template-rows */
    /* flex-direction: column; */
    /* align-items: center; */

    background-image: url('/Images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
}

.boardwrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-rows: auto auto auto minmax(0, .5fr);

    grid-column: 1;
    grid-row: 1;
    
    align-self: center;
}

.handwrapper {
    display: grid;

    align-self: center;

    
    width: 340px;
    height: 675px;

    grid-column: 2;
    grid-row: 1;
}

.hand {
    background-color: #fff1;

    border-radius: 5px;

    outline-width: 3px;
    outline-style: inset;
    outline-color: #fff;

    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
}

.board {
    /* background-color: #fff7; */
    /* box-shadow: 10px 10px 25px #fffa; */

    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    border-radius: 3px;
    height: 550px;
    width: 875px;
    
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: minmax(100%, auto);
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: minmax(49%, 49%);
    gap: 1%;

    align-items: center;
}

.playerbar {
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 7px;

    height: 40px;
    width: 800px;
    
    display: grid;
    justify-self: center;
    align-self: center;
    
    /* background-image: linear-gradient(90deg, rgb(0, 255, 0) 60%, rgb(255, 0, 0) 70%); */
}

.playerinfo {
    width: 225px;
    color: #000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    text-align: center;
}

.emptyTD {
    width: 225px;
}

.playerstats {
    width: 250px;
}

.playerboard {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border-radius: 3px;

    width: 98%;
    height: 98%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
    gap: 0;
}

.playerboard.bot {
    grid-column: 1;
    grid-row: 2;
}

.playerboard.top {
    grid-column: 1;
    grid-row: 1;
}

.cardslot {
    border-radius: 3px;

    background-color: #0007;
    outline-color: #fff;
    
    outline-width: 3px;
    outline-style: inset;

    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr;
}

.slot1 {
    grid-column: 1;
    grid-row: 1;
}

.slot2 {
    grid-column: 2;
    grid-row: 1;
}

.slot3 {
    grid-column: 3;
    grid-row: 1;
}

.slot4 {
    grid-column: 4;
    grid-row: 1;
}

.card {
    background-color: #000;
    display: none;
    
    outline-width: 2px;
    outline-color: #fffd;
    outline-style: inset;
    
    border-radius: 3px;

    width: 160px;
    height: 225px;

    align-self: center;
    justify-self: center;
}

.card.left {
    grid-column: 1;
}

.card.right {
    grid-column: 2;
}

.card.active {
    display: grid;
}

.cardname {
    color: #fff;

    outline-width: 2px;
    outline-color: #fffd;
    outline-style: inset;

    border-radius: 3px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    width: 100%;
    height: 25px;
}

.cardicon {
    display: flex;

    justify-content: center;

    outline-width: 2px;
    outline-color: #fffd;
    outline-style: inset;

    border-radius: 3px;
}

.carddesc {
    color: #fff;
    
    padding: 2px;
    height: 76px;
    
    text-align: center;
    font-size: 13;
}

.cardstats {
    display: grid;
    
    height: 33px;
    
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-columns: 33.3%; 
    grid-template-rows: 100%;
}

.stat {
    outline-width: 2px;
    outline-color: #fffd;
    outline-style: inset;

    border-radius: 3px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    font-size: 25;
}

.attackstat {
    color: red;
    grid-column: 1;
    grid-row: 1;
}

.defensestat {
    color: lime;
    grid-column: 2;
    grid-row: 1;
}

.coststat {
    color: gold;
    grid-column: 3;
    grid-row: 1;
}

.endturn {
    background: none;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}
