body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000ff;
}

.fullbackground {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url('../Images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .2;
}